body {
    background-color: #eee;
}

h1, h2, footer {
    text-align: center;
}

h2 {
    border-bottom: 1px solid;
}

footer {
    margin-top: 3em;
}

.content {
    border-radius: 5em;
    background-color: #fff;
    max-width: 60em;
}

.book-cover-image {
    max-height: 30em;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.book-description, .genre-description {
    text-align: justify;
}

.login-logout {
    text-align: right;
}

.flash-error {
    color: red;
}

.flash-message {
    color: blue;
}
