{% extends "base.html" %}
{% block content %}
<div class="book-delete">
    <h2>{{book.title}}</h2>
    <p>Are you sure you want to delete this book?</p>
    <form method="POST">
        <div class="form-group">
            <button type="button" class="cancel-button form-control btn btn-default" onclick="location.href='{{url_for('show_book', book_title=book.build_url())}}'">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                Cancel
            </button>
            <button type="submit" class="form-control btn btn-danger">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                Delete
            </button>
        </div>
    </form>
</div>
{% endblock %}
